body {
    background-image: linear-gradient(to right, rgb(56, 56, 241), rgb(67, 204, 67));
    color: white;
    text-align: center;
}

h1 {
    margin-top: 10%;
}

.box {
    background-color: white;
    opacity: 0.7;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 50px;
    width: 25%;
}

.search {
    width: 100%;
    align-items: center;
    
}

.search button{
    padding: 15px;
    border-radius: 15px;
}

.search button:hover {
    color: gray;
}

.search input {
    padding: 15px;
    border-radius: 15px;
}

.results {
    color: black;
}